.section#search {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.search-hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../../assets/images/aesthetic-movie-theatre.jpeg');
  height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-content {
  position: relative;
  top: 10%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-title {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  color: white;
  font-size: 36px;
  margin-bottom: 60px;
}
