.section#search {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.prototype {
  display: flex;
  justify-content: space-evenly;
  width: 300px;
  position: absolute;
  text-decoration: none;
  top: 0;
  right: 0;
  margin-top: 10px;
  margin-right: 10px;
}
.prototype a {
  text-decoration: none;
  color: #a8b2d1;
  font-weight: bold;
  font-size: 15px;
}
.prototype a:hover {
  opacity: 0.8;
}

.search-hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../../assets/images/aesthetic-movie-theatre.jpeg');
  height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-content {
  position: relative;
  top: 10%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .search-title {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  color: white;
  font-size: 36px;
  margin-bottom: 60px;
} */

#results {
  padding: 2% 0;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  /* background-color:rgb(25, 29, 61); */
}
